body{
    font-family: sans-serif;
}
.red{ 
    width: 90%;
    max-width: 960px;
    margin: 0 auto;
}

.red ::after{
    content: "";
    display: block;
    clear: left;
}
 


.plocica {
    float: left;
    width: 20%;
    box-sizing: border-box;
    padding: 8px;
    color: black;
    
}
.slika {
    height: 144px;
    background-color: rgb(111, 111, 230);
    background-image: url("placeholder-image.png");
    background-repeat: no-repeat;
    background-size: contain;
    
}
@media screen and (max-width: 1024px){
    .plocica{
        width: 33.33%;
    }
}
@media screen and (max-width: 768px){
    .plocica{
        width: 50%;
    }
}
@media screen and (max-width: 414px){
    .plocica{
        width: 100%;
    }
}

.image-title {
    text-align: center;
    background-color: gray;
    border: 1px solid #777777;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ppadding {
    padding: 8px !important;
}